.store {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-container {
  width: 100%;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.view-icon {
  font-size: 34px !important;
}

.add-btn {
  color: #dc0000 !important;
  border-color: #dc0000 !important;
  font-weight: bold !important;
  border-radius: 20px !important;
}

.shop-card__price {
  color: #dc0000;
  font-size: 20px;
}
.cards-container {
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.MuiCard-root {
  background-color: #f4f4f4 !important;
  width: 345px;
}

.MuiCardHeader-subheader,
.MuiCardHeader-title {
  text-align: center;
}

.MuiCardContent-root {
  overflow: hidden;
}

.MuiCardActions-root {
  display: flex;
  justify-content: space-between;
  padding: 8px 2rem 2rem !important;
}

.shop-card__img {
  width: 300px;
  height: 100%;
  margin: -130px 0 -70px 0;
}

.MuiList-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.item-container {
  justify-content: space-between !important;
  background-color: #f4f4f4 !important;
  width: 100%;
  overflow: hidden;
}

.shop-list__img {
  width: 150px;
  height: 100%;
  margin: -100px 0 -70px 0;
}
